.Weather {
  font-family: "Google Sans", arial;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 4px;
  background-color: white;
}
.Weather h1 {
  font-size: 20px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.overall {
  max-width: 800px;
  margin: 30px auto;
  background-color: burlywood;
  margin-top: 100px;
  border-radius: 40px 10px;
  padding: 50px 0px 50px 0px;
}
.App {
  max-width: 600px;
  margin: 30px auto;
}
.App footer {
  font-size: 11px;
  margin: 10px 0;
}
.Weather .temperature {
  font-weight: 400;
  font-size: 54px;
  color: rgb(33, 33, 33);
  line-height: 64px;
  margin-left: 10px;
}
.Weather canvas {
  margin-right: 10px auto;
  margin-top: 10px;
}
.Weather .unit {
  position: relative;
  top: -30px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(33, 33, 33);
  line-height: 1;
}
